/* _content/SubhadraSolutions.Utils.Pivoting.Blazor/LeaderPivot.razor.rz.scp.css */
/*CSS Isolation docs: https: //docs.microsoft.com/en-us/aspnet/core/blazor/components/css-isolation?view=aspnetcore-6.0*/
:root[b-25r5tvmkdy] {
  --leader-pivot-cell-padding: 6px;
  --leader-pivot-font-size: 12pt; }

.switch[b-25r5tvmkdy] {
  position: relative;
  white-space: nowrap; }

.switch label[b-25r5tvmkdy] {
  margin-left: 40px;
  white-space: nowrap; }

.switch input[b-25r5tvmkdy] {
  opacity: 0;
  width: 0;
  height: 0; }

.slider[b-25r5tvmkdy] {
  margin-top: 5px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  width: 35px;
  height: 16px; }

.slider[b-25r5tvmkdy]:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 2px;
  left: 2px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s; }

input:focus + .slider[b-25r5tvmkdy] {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider[b-25r5tvmkdy]:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px); }

.slider.round[b-25r5tvmkdy] {
  border-radius: 12px; }

.slider.round[b-25r5tvmkdy]:before {
  border-radius: 50%; }

.slider-default[b-25r5tvmkdy] {
  background-color: #ccc; }

.slider-default[b-25r5tvmkdy]:before {
  background-color: white; }

input:checked + .slider-default[b-25r5tvmkdy] {
  background-color: #2196F3; }

.groupheader-button[b-25r5tvmkdy] {
  background-color: transparent; }

.groupheader-button[b-25r5tvmkdy] {
  background-color: transparent; }

.groupheader-button-white[b-25r5tvmkdy] {
  color: white; }

.groupheader-button-white:focus[b-25r5tvmkdy] {
  box-shadow: none !important; }

.groupheader-button-white:hover[b-25r5tvmkdy] {
  background-color: #343a40; }

.groupheader-button-black[b-25r5tvmkdy] {
  color: black; }

.groupheader-button-black:focus[b-25r5tvmkdy] {
  box-shadow: none !important; }

.groupheader-button-black:hover[b-25r5tvmkdy] {
  background-color: #EEEEEE; }
