@import '_content/SubhadraSolutions.Utils.Pivoting.Blazor/SubhadraSolutions.Utils.Pivoting.Blazor.udrzrqxjys.bundle.scp.css';

/* /Layout/MainLayout.razor.rz.scp.css */
main[b-h17bpi62r6] {
    display: flex;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
}

#main-layout-page[b-h17bpi62r6] {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
}

.col-layout[b-h17bpi62r6] {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-width:0;
    min-height:0;
}

.content[b-h17bpi62r6] {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    padding-right: 50px;
}

.top-row[b-h17bpi62r6] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 40px;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    max-height: 40px;
    min-width: 0;
}

    .top-row[b-h17bpi62r6]  a, .top-row .btn-link[b-h17bpi62r6] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-h17bpi62r6] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-h17bpi62r6] {
        display: none;
    }

    .top-row.auth[b-h17bpi62r6] {
        justify-content: space-between;
    }

    .top-row a[b-h17bpi62r6], .top-row .btn-link[b-h17bpi62r6] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-h17bpi62r6] {
        flex-direction: row;
    }

    .sidebar[b-h17bpi62r6] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-h17bpi62r6] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-h17bpi62r6] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-j30kxyij7c] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-j30kxyij7c] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-j30kxyij7c] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-j30kxyij7c] {
    font-size: 1.1rem;
}

.bi[b-j30kxyij7c] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-j30kxyij7c] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-j30kxyij7c] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-j30kxyij7c] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-j30kxyij7c] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-j30kxyij7c] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-j30kxyij7c] {
        padding-bottom: 1rem;
    }

    .nav-item[b-j30kxyij7c]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-j30kxyij7c]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-j30kxyij7c]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-j30kxyij7c] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-j30kxyij7c] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-j30kxyij7c] {
        display: none;
    }

    .nav-scrollable[b-j30kxyij7c] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/LeaderPivotDemo.razor.rz.scp.css */
button[b-x5y3e0szes] {
    max-height:40px;
}
#demo-page[b-x5y3e0szes] {
    display:flex;
    flex:1 1 auto;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
}

#page-header[b-x5y3e0szes] {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#control-panel-container[b-x5y3e0szes] {
    margin-left: auto;
    margin-right: 5px;
    overflow-x: auto;
}



/**https://stackoverflow.com/questions/68884700/create-a-scrollable-container-for-a-table-without-fixed-size-that-also-prevents**/

#pivot-container[b-x5y3e0szes] {
    display: flex;
    flex:1 1 auto;
    flex-direction: column;
    overflow: auto;
    min-height:0;
    min-width:0;
}

